   ion-icon {
                 font-size: 30px;
                 color: gray;
                 cursor: pointer;
                 transition: transform 0.3s ease;

             }

             ion-icon.liked {
                 color: red;
                 animation: beat 0.3s ease;
             }

             @keyframes beat {
                 0% {
                     transform: scale(1);
                 }

                 50% {
                     transform: scale(1.4);
                 }

                 100% {
                     transform: scale(1);
                 }
             }
              .active2 {
                 background-color: black;
                 color: white;
                 display: flex;
                 justify-content: center;
                 width: 60%;
                 border-radius: 10px;
                 margin: 2px;


             }
              .img-bg {
                 width: 100%;
                 height: 200px;
                 background-position: center;
                 background-repeat: no-repeat;
                 background-size: cover;

             }
             .modal-content {
    border-radius: 15px;
    border: none;
}
.modal-header {
    border-bottom: 1px solid #eee;
    border-radius: 15px 15px 0 0;
}
.table th {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
